<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>The Team</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path %>
        <a href="/../welcome/team.html" class="active">Team</a>
        <a href="/../welcome/help.html">Help</a>
    </div>
    
    <div class="teamContent">
        <!-- Aleks -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("AleksTeamPic.jpg") %>">
            </div>
            <div class="memberInfo">
                <div class="memberName">
                    <h1>Aleks Popovich</h1>
                </div>
            </div>
        </div>
        
        <!-- Christian -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("ChristianTeamPic.jpg") %>">
            </div>
            <div class="memberInfo">
                <div class="memberName">
                    <h1>Christian Schulmeister</h1>
                </div>
            </div>
        </div>
        
        <!-- Houa -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("HouaTeamPic.jpg") %>">
            </div>
            <div class="memberInfo">
                <div class="memberName">
                    <h1>Houa Yang</h1>
                </div>
            </div>
        </div>
        
        <!-- Mong -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("MongTeamPic.jpg") %>">
            </div>
            <div class="memberInfo">
                <div class="memberName">
                    <h1>Mong Lor</h1>
                </div>
            </div>
        </div>
    </div>
</div>