<div class="backgroundScene"></div>
<div class="shell">
    <div class="container">
        <div class="header">
            <h1>Our Team</h1>
        </div>
        
        <div class="nav">
            <a href="/../welcome/index.html" class="navButton">Home</a>
            <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id), { :class => "navButton" } %>
            <%= link_to 'Events', events_path, { :class => "navButton" } %>
            <%= link_to 'Tags', tags_path, { :class => "navButton" } %>
            <a href="/../welcome/team.html" class="navButton active">Team</a>
            <a href="/../welcome/help.html" class="navButton">Help</a>
        </div>
        
        <div class="content teamContent">
            <!-- Aleks -->
            <div class="memberContainer">
                <div class="memberPicture">
                    <img src="<%= image_path("AleksTeamPic.jpg") %>" alt="Aleks' Profile Picture">
                </div>
                <div class="memberName">
                    Aleks Popovich
                </div>
                <div class="memberRole">
                    Database Design &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i>&nbsp; 
                    <a href="mailto:apopovi3@uncc.edu" target="_top">apopovi3@uncc.edu</a>
                </div>
                <div class="pictureBottom">Aleks</div>
                <div class="space"></div>
            </div>
            
            <!-- Christian -->
            <div class="memberContainer">
                <div class="memberPicture">
                    <img src="<%= image_path("ChristianTeamPic.jpg") %>" alt="Christian's Profile Picture">
                </div>
                <div class="memberName">
                    Christian Schulmeister
                </div>
                <div class="memberRole">
                    Back-end Development &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i>&nbsp; 
                    <a href="mailto:cschulme@uncc.edu" target="_top">cschulme@uncc.edu</a>
                </div>
                <div class="pictureBottom">Christian</div>
                <div class="space"></div>
            </div>
            
            <!-- Houa -->
            <div class="memberContainer">
                <div class="memberPicture">
                    <img src="<%= image_path("HouaTeamPic.jpg") %>" alt="Houa's Profile Picture">
                </div>
                <div class="memberName">
                    Houa Yang
                </div>
                <div class="memberRole">
                    Front-end Development &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i>&nbsp; 
                    <a href="mailto:hyang29@uncc.edu" target="_top">hyang29@uncc.edu</a>
                </div>
                <div class="pictureBottom">Houa</div>
                <div class="space"></div>
            </div>
            
            <!-- Mong -->
            <div class="memberContainer">
                <div class="memberPicture">
                    <img src="<%= image_path("MongTeamPic.jpg") %>" alt="Mong's Profile Picture">
                </div>
                <div class="memberName">
                    Mong Lor
                </div>
                <div class="memberRole">
                    Documentation &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i>&nbsp; 
                    <a href="mailto:mlor13@uncc.edu" target="_top">mlor13@uncc.edu</a>
                </div>
                <div class="pictureBottom">Mong</div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>