<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Our Team</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path %>
        <a href="/../welcome/team.html" class="active">Team</a>
        <a href="/../welcome/help.html">Help</a>
    </div>
    
    <div class="teamContent">
        <!-- Aleks -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("AleksTeamPic.jpg") %>" alt="Aleks' Profile Picture">
            </div>
            <div class="memberName">
                <h1>Aleks Popovich</h1>
            </div>
            <div class="memberRole">
                <h3>
                    Database Design &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i> 
                    <a href="mailto:apopovi3@uncc.edu" target="_top">apopovi3@uncc.edu</a>
                </h3>
            </div>
            <div class="pictureBottom">Aleks</div>
            <div class="space"></div>
        </div>
        
        <!-- Christian -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("ChristianTeamPic.jpg") %>" alt="Christian's Profile Picture">
            </div>
            <div class="memberName">
                <h1>Christian Schulmeister</h1>
            </div>
            <div class="memberRole">
                <h3>
                    Back-end Development &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:cschulme@uncc.edu" target="_top">cschulme@uncc.edu</a>
                </h3>
            </div>
            <div class="pictureBottom">Christian</div>
            <div class="space"></div>
        </div>
        
        <!-- Houa -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("HouaTeamPic.jpg") %>" alt="Houa's Profile Picture">
            </div>
            <div class="memberName">
                <h1>Houa Yang</h1>
            </div>
            <div class="memberRole">
                <h3>
                    Front-end Development &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:hyang29@uncc.edu" target="_top">hyang29@uncc.edu</a>
                </h3>
            </div>
            <div class="pictureBottom">Houa</div>
            <div class="space"></div>
        </div>
        
        <!-- Mong -->
        <div class="memberContainer">
            <div class="memberPicture">
                <img src="<%= image_path("MongTeamPic.jpg") %>" alt="Mong's Profile Picture">
            </div>
            <div class="memberName">
                <h1>Mong Lor</h1>
            </div>
            <div class="memberRole">
                <h3>
                    Documentation &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-envelope"></i> 
                    <a href="mailto:mlor13@uncc.edu" target="_top">mlor13@uncc.edu</a>
                </h3>
            </div>
            <div class="pictureBottom">Mong</div>
            <div class="space"></div>
        </div>
    </div>
</div>