<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Editing: <%= @event.title %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path, { :class => "active" } %>
        <%= link_to 'Tags', tags_path %>
        <a href="/../welcome/team.html">Team</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <% if @event.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@event.errors.count, "error") %> prohibited
                    this event from being saved:
                </h2>
                <ul>
                    <% @event.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        
        <%= render 'form' %>
    </div>
</div>