<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Your Events</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <a href="#">Calendar</a>
        <a href="#">Events</a>
        <a href="#">Team</a>
        <a href="#">About</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="indexContainer">
        <div class="eventsListContainer">
            <table class="eventsList">
                <tr>
                    <th onclick="sortTable(0)">Title</th>
                    <th onclick="sortTable(1)">Location</th>
                    <th onclick="sortTable(2)">Information</th>
                    <th onclick="sortTable(3)">Starts</th>
                    <th onclick="sortTable(4)">Ends</th>
                    <th onclick="sortTable(5)">Tags</th>
                    <th>Options</th>
                </tr>
                
                <% @events.each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                        <td><%= event.location %></td>
                        <td><%= truncate(event.eventInformation, length: 80, separator: ' ', omission: '... (continued)') %></td>
                        <td><%= event.startTime.strftime("%m/%d/%Y at %H:%M") %></td>
                        <td><%= event.endTime.strftime("%m/%d/%Y at %H:%M") %></td>
                        <td><%= event.tag %></td>
                        <td><%= link_to'<i class="fas fa-eye"></i>'.html_safe, event_path(event), :title => "Show Event" %>
                            <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_event_path(event), :title => "Edit Event" %>
                            <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                            event_path(event),
                                                                            method: :delete,
                                                                            data: { confirm: 'Are you sure?' },
                                                                            :title => "Delete Event" %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        
        <div class="eventsButtons">
            <%= link_to 'New Event', new_event_path, { :class => "newEventButton" } %>
        </div>
    </div>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable2");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc"; 
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch= true;
                    break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch= true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++; 
        } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>