<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Your Events</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path, { :class => "active" } %>
        <%= link_to 'Tags', tags_path %>
        <a href="/../welcome/team.html">Team</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="eventsListContainer">
            <table class="eventsList">
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Information</th>
                    <th>Date</th>
                    <th>Starts</th>
                    <th>Ends</th>
                    <th>Tag</th>
                    <th>Options</th>
                </tr>
                
                <% @events.order(:startTime).each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                        <td class="<%= "inactive" if event.location.blank? %>"><%= event.location %></td>
                        <td class="<%= "inactive" if event.eventInformation.blank? %>"><%= truncate(event.eventInformation, length: 80, separator: ' ', omission: '... (continued)') %></td>
                        <td><%= event.eventDate.strftime("%m/%d/%Y") %></td>
                        <td><%= event.startTime.strftime("%I:%M %p") %></td>
                        <td><%= event.endTime.strftime("%I:%M %p") %></td>
                        <td><%= event.tag.tagName %></td>
                        <td><%= link_to'<i class="fas fa-eye"></i>'.html_safe, event_path(event), :title => "Show Event" %>
                            <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_event_path(event), :title => "Edit Event" %>
                            <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                            event_path(event),
                                                                            method: :delete,
                                                                            data: { confirm: 'Are you sure you want to delete this event?' },
                                                                            :title => "Delete Event" %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        
        <div class="eventsButtons">
            <%= link_to 'New Event', new_event_path, { :class => "basicButton" } %>
        </div>
    </div>
</div>