<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Your Events</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <a href="#">Calendar</a>
        <a href="#">Events</a>
        <a href="#">Team</a>
        <a href="#">About</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="indexContainer">
        <div class="eventsListContainer">
            <table class="eventsList">
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Information</th>
                    <th>Starts</th>
                    <th>Ends</th>
                    <th>Tags</th>
                    <th>Options</th>
                </tr>
                
                <% @events.order(:startTime).each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                        <td><%= event.location %></td>
                        <td><%= truncate(event.eventInformation, length: 80, separator: ' ', omission: '... (continued)') %></td>
                        <td><%= event.startTime.strftime("%m/%d/%Y at %H:%M") %></td>
                        <td><%= event.endTime.strftime("%m/%d/%Y at %H:%M") %></td>
                        <td><%= event.tag %></td>
                        <td><%= link_to'<i class="fas fa-eye"></i>'.html_safe, event_path(event), :title => "Show Event" %>
                            <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_event_path(event), :title => "Edit Event" %>
                            <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                            event_path(event),
                                                                            method: :delete,
                                                                            data: { confirm: 'Are you sure?' },
                                                                            :title => "Delete Event" %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        
        <div class="eventsButtons">
            <%= link_to 'New Event', new_event_path, { :class => "newEventButton" } %>
        </div>
    </div>
</div>