<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1><%= @event.title %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendars_views_path %>
        <%= link_to 'Events', events_path, { :class => "active" } %>
        <%= link_to 'Tags', tags_path %>
        <a href="#">Team</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="infoContainer">
            <div class="labelBoxSmall">Location:</div> 
            <div class="dataBoxSmall"><%= @event.location %></div>
            <div class="labelBoxLarge">Information:</div>
            <div class="dataBoxLarge"><%= simple_format(@event.eventInformation) %></div>
            <div class="labelBoxSmall">Date</div>
            <div class="dataBoxSmall"><%= @event.eventDate.strftime("%m/%d/%Y") %></div>
            <div class="labelBoxSmall">Starting Time:</div>
            <div class="dataBoxSmall"><%= @event.startTime.strftime("%I:%M %p") %></div>
            <div class="labelBoxSmall">Ending Time:</div>
            <div class="dataBoxSmall"><%= @event.endTime.strftime("%I:%M %p") %></div>
            <div class="labelBoxSmall">Tag:</div>
            <div class="dataBoxSmall"><%= @event.tag.tagName %></div>
        </div>
        <%= link_to 'Back to Events', events_path, { :class => "basicButton" } %>
    </div>
</div>