<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1><%= @event.title %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <a href="#">Calendar</a>
        <a href="index.html">Events</a>
        <a href="#">Team</a>
        <a href="#">About</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        Location: <%= @event.location %><br>
        Information: <%= simple_format(@event.eventInformation) %><br>
        Starting Time: <%= @event.startTime.strftime("%m/%d/%Y at %H:%M") %><br>
        Ending Time: <%= @event.endTime.strftime("%m/%d/%Y at %H:%M") %><br>
        Tag: <%= @event.tag %><br>
    </div>
</div>