<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Your Tags</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <a href="#">Calendar</a>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path %>
        <a href="#">Team</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <table class="tagsList">
            <tr>
                <th>Tag Name</th>
                <th>Options</th>
            </tr>
            <% @tags.each do |tag| %>
                <tr>
                    <td><%= tag.tagName %></td>
                    <td><%= link_to'<i class="fas fa-eye"></i>'.html_safe, tag_path(tag), :title => "Show Tag" %>
                        <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_tag_path(tag), :title => "Edit Tag" %>
                        <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                        tag_path(tag),
                                                                        method: :delete,
                                                                        data: { confirm: 'Are you sure?' },
                                                                        :title => "Delete Tag" %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>