<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1><%= @tag.tagName %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path, { :class => "active" } %>
        <a href="/../welcome/team.html">Team</a>
        <a href="/../welcome/help.html">Help</a>
    </div>
    
    <div class="showContent">
        <div class="infoContainer">
            <div class="showShell">
                <div class="box1">
                    <div class="tagDescriptionHeader">
                        Description
                    </div>
                    <div class="tagDescriptionInfo">
                        <%= simple_format(@tag.description) %>
                    </div>
                </div>
                <div class="box2">
                    <div class="tagEventsHeader">
                        Associated Events
                    </div>
                    <div class="tagEventsInfo">
                        <% if @tag.events.count == 0 %>
                            <div class="tagEventsNoInfo">
                                <br>
                                <i class="fa fa-calendar-times-o"></i>
                                <h2>
                                    This tag doesn't have
                                    <br>
                                    any associated events.
                                </h2>
                            </div>
                        <% else %>
                            <% @tag.events.order(:eventDate).each do |event| %>
                                <div class="tagEventsBox">
                                    <div class="indicator"></div>
                                    <%= link_to'<i class="fas fa-eye"></i>'.html_safe, event_path(event), :title => "Show Event", :class => "viewBox" %>
                                    <div class="titleBox">
                                        <%= event.title %>
                                    </div>
                                    <div class="infoBox1">
                                        <% if event.location.blank? == false %>
                                            <%= event.location %>&nbsp;|
                                        <% end %>
                                        <%= event.tag.tagName %>
                                    </div>
                                    <div class="infoBox2">
                                        From <%= event.startTime.strftime("%I:%M %p") %> - <%= event.endTime.strftime("%I:%M %p") %>
                                    </div>
                                    <div class="cap"></div>
                                </div>
                                <br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="optionsBox">
                <% if @tag.id == 1 %>
                    <div class="startCapInactive"></div>
                    <div class="editInactive">
                        <i class="fas fa-edit"></i>
                    </div>
                    <div class="deleteInactive">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                <% else %>
                    <div class="startCap"></div>
                    <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_tag_path(@tag), :title => "Edit Tag", :class => "editBox" %>
                    <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                    tag_path(@tag),
                                                                    method: :delete,
                                                                    data: { confirm: 'Are you sure you want to delete this event?' },
                                                                    :title => "Delete Event",
                                                                    :class => "deleteBox" %>
                <% end %>
            </div>
        </div>
        
        <%= link_to 'Back to Tags', tags_path, { :class => "basicButton" } %>
    </div>
</div>