<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1><%= @tag.tagName %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path, { :class => "active" } %>
        <a href="/../welcome/team.html">Team</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="infoContainer">
            <div class="labelBoxLarge">Description:</div> 
            <div class="dataBoxLarge"><%= @tag.description %></div>
            <div class="labelBoxLarge">Associated Events:</div>
            <div class="dataBoxLarge">
                <table class="tagsList">
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                    <% @tag.events.each do |event| %>
                        <tr>
                            <td><%= event.title %></td>
                            <td><%= event.eventDate.strftime("%m/%d/%Y") %></td>
                            <td>
                                <%= link_to'<i class="fas fa-eye"></i>'.html_safe, event_path(event), :title => "Show Event" %>
                                <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_event_path(event), :title => "Edit Event" %>
                                <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                            event_path(event),
                                                                            method: :delete,
                                                                            data: { confirm: 'Are you sure?' },
                                                                            :title => "Delete Event" %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
        
    <%= link_to 'Back to Tags', tags_path, { :class => "basicButton" } %>
</div>