<!-- Declare variables -->
<% activeMonth = @dateInUse.month %>
<% activeYear = @dateInUse.year %>
<% firstDate = Date.parse('1-'+activeMonth.to_s+'-'+activeYear.to_s) %>
<% numOfDaysInMonth = Time.days_in_month(activeMonth, activeYear) %>
<% case firstDate.cwday %>
<% when 1..6 %>
<%     startingPos = firstDate.cwday + 1 %>
<% else %>
<%     startingPos = 1 %>
<% end %>
<% dayNum = 1 %>

<table class="calendarLayout">
    <tr>
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
    </tr>
    <tr>
        <% for i in 1..7 %>
            <% if i < startingPos %>
                <td class="inactive"></td>
            <% else %>
                <% dayHolder = Date.parse(dayNum.to_s+'-'+activeMonth.to_s+'-'+activeYear.to_s) %>
                <td>
                    <div class="dayNumber">
                        <!-- addEventButton -->
                        <%= link_to "+", new_calendar_view_path(day: dayHolder), { :class => "addEventButton" } %>
                        <%= dayNum %>
                    </div>
                    
                    <% numOfEvents = Event.where(:eventDate => dayHolder).count %>
                    <% if numOfEvents != 0 %>
                        <%= link_to"Events: #{ Event.where(:eventDate => dayHolder).count }&nbsp;<i class='fas fa-eye'></i>".html_safe, 
                            calendar_view_path(:calendar_view_id, day: dayHolder), 
                            :class => "dayInfo", 
                            :title => "View Events" %>
                    <% end %>
                </td>
                <% dayNum += 1 %>
            <% end %>
        <% end %>
    </tr>
    <% for week in 2..6 %>
        <tr>
            <% for day in 1..7 %>
                <% if dayNum <= numOfDaysInMonth %>
                    <% dayHolder = Date.parse(dayNum.to_s+'-'+activeMonth.to_s+'-'+activeYear.to_s) %>
                    <td>
                        <div class="dayNumber">
                            <a href="#" class="addEventButton">+</a>
                            <%= dayNum %>
                        </div>
                        
                        <% numOfEvents = Event.where(:eventDate => dayHolder).count %>
                        <% if numOfEvents != 0 %>
                            <%= link_to"Events: #{ Event.where(:eventDate => dayHolder).count }&nbsp;<i class='fas fa-eye'></i>".html_safe, 
                                calendar_view_path(:calendar_view_id, day: dayHolder), 
                                :class => "dayInfo", 
                                :title => "View Events" %>
                        <% end %>
                    </td>
                    <% dayNum += 1 %>
                <% else %>
                    <td class="inactive"></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>