<div class="backgroundScene"></div>
<div class="shell">
    <div class="container">
        <div class="header">
            <h1>Your Calendar</h1>
        </div>
        
        <div class="nav">
            <a href="/../welcome/index.html" class="navButton">Home</a>
            <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id), { :class => "navButton active" } %>
            <%= link_to 'Events', events_path, { :class => "navButton" } %>
            <%= link_to 'Tags', tags_path, { :class => "navButton" } %>
            <a href="/../welcome/team.html" class="navButton">Team</a>
            <a href="/../welcome/help.html" class="navButton">Help</a>
        </div>
        
        <div class="calendarContent">
            <div class="sidebar">
                <div class="sidebarMainBox">
                    <%= @dateInUse.year %>
                </div>
                <div class="sidebarSubBox">
                    <%= link_to "January", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 1, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "February", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 2, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "March", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 3, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "April", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 4, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "May", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 5, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "June", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 6, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "July", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 7, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "August", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 8, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "September", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 9, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "October", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 10, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "November", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 11, yearParam: @dateInUse.year), :class => "sidebarSelect" %><br>
                    <%= link_to "December", calendar_view_selectMonth_path(:calendar_view_id, monthParam: 12, yearParam: @dateInUse.year), :class => "sidebarSelect" %>
                </div>
                    <%= link_to 'Go to Current Month', calendar_view_thisMonth_path(:calendar_view_id), { :class => "sidebarMainBoxButton" } %>
            </div>
            
            <div class="main">
                <div class="monthHeader">
                    <h2>
                        <%= link_to'<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, calendar_view_previousMonth_path(:calendar_view_id), :title => "Previous Month" %>&nbsp;&nbsp;
                    </h2>
                    <h1>
                        <%= @dateInUse.strftime("%B, %Y") %>
                    </h1>
                    <h2>
                        &nbsp;&nbsp;<%= link_to'<i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, calendar_view_nextMonth_path(:calendar_view_id), :title => "Next Month" %>
                    </h2>
                </div>
                
                <div class="calendarBox">
                    <%= render 'calendarLayout' %>
                </div>
            </div>
        </div>
    </div>
</div>