<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Events on <%= Date.parse(@dateForShow).strftime("%m/%d/%Y") %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id), { :class => "active" } %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path %>
        <a href="/../welcome/team.html">Team</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <div class="eventsContainer">
            <div class="labelBoxLarge">Events</div>
            <div class="dataBoxLarge">
                <table class="tagsList">
                    <tr>
                        <th>Event</th>
                        <th>Starts</th>
                        <th>Ends</th>
                        <th>Tag</th>
                        <th>Options</th>
                    </tr>
                    <% @events.each do |event| %>
                        <tr>
                            <td><%= event.title %></td>
                            <td class="<%= "inactive" if event.startTime.blank? %>"><%= event.startTime.strftime("%I:%M %p") %></td>
                            <td class="<%= "inactive" if event.endTime.blank? %>"><%= event.endTime.strftime("%I:%M %p") %></td>
                            <td><%= event.tag.tagName %></td>
                            <td>
                                <%= link_to'<i class="fas fa-eye"></i>'.html_safe, event_path(event), :title => "Show Event" %>
                                <%= link_to'<i class="fas fa-edit"></i>'.html_safe, edit_event_path(event), :title => "Edit Event" %>
                                <%= link_to'<i class="fas fa-trash-alt"></i>'.html_safe, 
                                                                            event_path(event),
                                                                            method: :delete,
                                                                            data: { confirm: 'Are you sure?' },
                                                                            :title => "Delete Event" %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
        <%= link_to 'Back to Calendar', calendar_view_thisMonth_path(:calendar_view_id), { :class => "basicButton" } %>
    </div>
</div>